body {
    background: url(./img/thomas-lefebvre-V63oM8OPJSo-unsplash.jpg) no-repeat;
    background-size: cover;
}

.clock {
    position: absolute;
    display: flex;
    top: 30%;
    left: 50%;
    transform: translateX(-50%)
    translateY(-50%);
    color: black;
    font-family: Orbitron;
    font-size: 120px;
    font-weight: normal;
    letter-spacing: 20px;
}

.date {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    position: absolute;
    display: flex;
    font-size: 80px;
    top: 40%;
    left: 50%;
    transform: translateX(-50%)
    translateY(-50%);
    font-weight: lighter;
    font-family: Hind;
    color: #F3CFC6;
    text-shadow: 1px 2px 3px grey;
    
}